@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LEARN PLATFORM</h1>
    <p class="lead">Learn Platform is a free web app for learning process management, built on top of ASP.NET</p>
    <p><a href="https://asp.net" class="btn btn-link btn-lg">Learn more about ASP.NET &raquo;</a></p>
</div>

<div class="row">
    
</div>